html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

main {
  background-color: #efefef;
}

.card {
  background-color: #fff;
}

img {
  max-width: 200px;
}

label {
  color: #ddd;
}

.table {
  background-color: #fff;
}

th {
  width: 100px;
}
